.bookmarklet {
	background-color: #3295ad;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 4px;
}

a:link.bookmarklet,
a:visited.bookmarklet,
a:hover.bookmarklet,
a:active.bookmarklet {
	color: white;
}	

textarea {
  width: 500px;
  margin-bottom: 20px;
}

.icon {
  float: right;
  margin: 0 0 5px 10px;
  border: 1px solid #666;
  -webkit-box-shadow: 0px 2px 6px 0px #aaa; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0px 2px 6px 0px #aaa; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}
