.bookmarklet {
	background-color: #3295ad;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 4px;
}

a:link.bookmarklet,
a:visited.bookmarklet,
a:hover.bookmarklet,
a:active.bookmarklet {
	color: white;
}	

textarea {
  width: 500px;
  margin-bottom: 20px;
}